p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.logo-container img {
  width: 100px; /* Adjust the size */
  position: absolute;
  top: 10px;
  right: 10px;
}
